.aux-nav a:not([class]), .aux-nav a:not([class]):hover {
    background: none;
}

.aux-nav .mr-2 {
    margin-right: 0.1rem !important;
}

.aux-nav a img {
    height: 22px;
}

pre.highlight, figure.highlight {
    line-height: 1.2em;
}

code {
    font-size: 14px;
}

.navigation-list-item .navigation-list-child-list {
    display: block;
}

.navigation-list-item .navigation-list-link {
    padding-top: .35rem;
    padding-bottom: .45rem;
}

.navigation-list-item > .navigation-list-link:not(:only-child) {
    padding-bottom: .3rem;
}

.navigation-list-child-list .navigation-list-item .navigation-list-link {
    padding-top: .25rem;
    padding-bottom: .3rem;
}

.navigation-list-link:hover {
    text-decoration: underline;
    text-decoration-color: rgba($link-color, 0.6);
}

.indented {
    margin-left: 20px;

    h1, h2, h3, h4, h5, h6 {
        margin-left: -20px;
    }
}