name: CI

on: [push, pull_request, workflow_dispatch]

jobs:
  ci:
    runs-on: ubuntu-latest
    env:
      # work-around https://github.com/rust-lang/cargo/issues/10303
      CARGO_NET_GIT_FETCH_WITH_CLI: ${{ matrix.rust == '1.60.0' }}
    strategy:
      matrix:
        rust:
          - 1.60.0
          - stable
          - beta
          - nightly
        include:
          - rust: 1.60.0
            test_features: "--features impl_json_schema"
            allow_failure: false
          - rust: stable
            test_features: "--all-features"
            allow_failure: false
          - rust: beta
            test_features: "--all-features"
            allow_failure: false
          - rust: nightly
            test_features: "--all-features"
            allow_failure: true
      fail-fast: false
    steps:
      - uses: actions/checkout@50fbc622fc4ef5163becd7fab6573eac35f8462e # v1.2.0
      - uses: actions-rs/toolchain@16499b5e05bf2e26879000db0c1d13f7e13fa3af # v1.0.7
        with:
          profile: minimal
          toolchain: ${{ matrix.rust }}
          override: true
      - name: Check with no feature flags
        run: cargo check --verbose --no-default-features
        continue-on-error: ${{ matrix.allow_failure }}
        working-directory: ./schemars
      - name: Run tests
        run: cargo test --verbose ${{ matrix.test_features }} --no-fail-fast
        continue-on-error: ${{ matrix.allow_failure }}
        working-directory: ./schemars
      - name: Run derive tests
        run: cargo test --verbose --all-features --no-fail-fast
        continue-on-error: ${{ matrix.allow_failure }}
        working-directory: ./schemars_derive
