name: CI

on: [push, pull_request, workflow_dispatch]

jobs:
  ci:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust:
          - 1.65.0
          - stable
          - beta
          - nightly
        include:
          - rust: 1.65.0
            allow_failure: false
          - rust: stable
            allow_failure: false
          - rust: beta
            allow_failure: false
          - rust: nightly
            allow_failure: true
      fail-fast: false
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.rust }}
      - name: Check with no feature flags
        run: cargo check --verbose --no-default-features
        continue-on-error: ${{ matrix.allow_failure }}
        working-directory: ./schemars
      - name: Run tests
        run: cargo test --verbose --all-features --no-fail-fast
        continue-on-error: ${{ matrix.allow_failure }}
        working-directory: ./schemars
      - name: Run derive tests
        run: cargo test --verbose --all-features --no-fail-fast
        continue-on-error: ${{ matrix.allow_failure }}
        working-directory: ./schemars_derive
